{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title</title>
		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap CSS -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Main CSS -->
		<link href="{% static "css/main.css" %}" rel="stylesheet">

	</head>

	<body ng-app="inventory">
        {%  block main %}
        {%  endblock %}

        <!-- angular v1.4.2 -->
		<script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-route.min.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>
        <!-- jQuery -->
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

	</body>

</html>