<div class="menu">
    <a href="#/create/item" class="btn btn-default">Create</a>
</div>

<div class="row placeholders">
    <div class="col-xs-4"><h4>Name</h4></div>
    <div class="col-xs-4"><h4>Expiration Date</h4></div>
    <div class="col-xs-4"><h4>Location</h4></div>
        <div ng-repeat="item in items track by $index">
            <a href="#/item/{$ item.id $}">
                <div class="col-xs-12 item-placeholder">
                    <div class="col-xs-4"><h4>{$ item.base_item.name $}</h4></div>
                    <div class="col-xs-4"><h4>{$ item.expiration_date $}</h4></div>
                    <div class="col-xs-4"><h4>{$ item.location.type + ' - ' + item.location.name + ', ' + item.location.address $}</h4></div>
                </div>
            </a>
        </div>
    </div>
</div>