
<div class="menu">
    <a href="#/create/location" class="btn btn-default">Create</a>
</div>

<div class="row placeholders" ng-controller="ItemListCtrl">

    <div ng-repeat="item in items">
        <
    </div>




    <div class="col-xs-12">
    <div class="col-xs-4"><h4>Name</h4></div>
    <div class="col-xs-4"><h4>Type</h4></div>
    <div class="col-xs-4"><h4>Address</h4></div>
        </div>
        <div ng-repeat="location in locations track by $index">
            <a href="#/location/{$ location.id $}">
                <div class="col-xs-12 item-placeholder">
                        <div class="col-xs-4"><h4>{$ location.name $}</h4></div>
                        <div class="col-xs-4"><h4>{$ location.type $}</h4></div>
                        <div class="col-xs-4"><h4>{$ location.address $}</h4></div>
                </div>
            </a>
        </div>
    </div>
</div>