{%  load items_count_in_location %}
{% get_items_in_locations as items_in_locations%}

<div class="menu" ng-init="items_in_locations = {{ items_in_locations }}">
    <a href="#/create/transaction" class="btn btn-default">Create</a>
</div>

<div class="row placeholders">
    <div class="col-xs-12"><h4>{{ items_in_locations }}</h4></div>
    <div class="col-xs-12">
        <div class="col-xs-6"><h4>Location</h4></div>
        <div class="col-xs-6"><h4>Items avaiable</h4></div>
    </div>
    <div class="col-xs-12 item-placeholder" ng-repeat="(key, value) in items_in_locations">
        <div class="col-xs-6"><h4>{$ key $}</h4></div>
        <div class="col-xs-6"><h4>{$ value $}</h4></div>
    </div>
    <div></div>
    <div class="col-xs-12">
        <div class="col-xs-2"><h4>Item</h4></div>
        <div class="col-xs-3"><h4>Date</h4></div>
        <div class="col-xs-2"><h4>Origin</h4></div>
        <div class="col-xs-2"><h4>Destination</h4></div>
        <div class="col-xs-2"><h4>Moved items</h4></div>
    </div>
    <div ng-repeat="transaction in transactions track by $index">
            <div class="col-xs-12 item-placeholder">
                <div class="col-xs-2"><h4>{$ transaction.item.name $}</h4></div>
                <div class="col-xs-3"><h4>{$ transaction.date_time $}</h4></div>
                <div class="col-xs-2"><h4>{$ transaction.origin.type + ' - ' + transaction.origin.name $}</h4></div>
                <div class="col-xs-2"><h4>{$ transaction.destination.type + ' - ' + transaction.destination.name $}</h4></div>
                <div class="col-xs-2"><h4>{$ transaction.items_count $}</h4></div>
            </div>
    </div>
</div>