
{%  extends 'base.html' %}
{%  block main %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inventory</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar" ng-init="nav = 'baseitem'">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active' : nav == 'item'}" ng-click="nav = 'item'"><a href="#/item-list">Items</a></li>
            <li ng-class="{'active' : nav == 'baseitem'}" ng-click="nav = 'baseitem'"><a href="#/base-item-list">Base Items</a></li>
            <li ng-class="{'active' : nav == 'category'}" ng-click="nav = 'category'"><a href="#/category-list">Categories</a></li>
            <li ng-class="{'active' : nav == 'brand'}" ng-click="nav = 'brand'"><a href="#/brand-list">Brands</a></li>
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
        </div>

          <div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div ng-view>

          </div>
              </div>

      </div>
    </div>


{%  endblock %}
